*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table td{
    padding: 1%;
}
a {
    text-decoration: none;
    color: #555;
}
.btn-primary{
    background-color: #ff413b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.btn-primary:hover {
    background-color: #563434;
}

.btn-secondary{
    background-color: #28FFBF;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.btn-secondary:hover {
    background-color: #66DE93;
}
.btn-danger{
    background-color: #FF7878;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.btn-danger:hover {
    background-color: #FF5C58;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-change {
    display: inline-block;
    background-color: #2C2891;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.btn-change:hover {
    background-color: #082032;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.formContainer {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /*it hides the other form when the user selects either login or register*/
}
.formContainerAdd {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /*it hides the other form when the user selects either login or register*/
}
.formContainer span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.formBtn {
    display: inline-block;
}

.formContainer form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
.formContainerAdd form {
    max-width: 100%;
    /* padding: 0 20px; */
    position: absolute;
    /* top: 130px; */
    transition: transform 1s;
}

form input {
    width: 80%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form label{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    /* border: 1px solid #ccc; */
}
form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}
form a {
    font-size: 12px;
}

#indicator {
    width: 100%;
    border: none;
    background-color: #ff523b;
    height: 3px;
    margin-top: 8 px;
}
.btn {
    display: inline-block;
    background-color: #ff413b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #563434;
}

.success{
    color: #2ed573;
}

.error{
    color: #ff4757;
}

/************************Header Section************************/
header{
    border-bottom:1px solid gray ;
}
header ul{
    list-style: none;
}
header ul li{
    display: inline;
    padding: 1%;

}

header ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.664);

}
/***************************Main Section**************************/
main{
    background: radial-gradient(#fff, #ffd6d6);
    padding: 3% 0;
}

.col-4{
    width: 16%;/*if you want decrease the size of the box especially when you are adding another box*/
    background-color: whitesmoke;
    margin: 1%;
    padding: 2%;
    float: left;
    cursor: pointer;
}

/*************************Footer Section*************************/
footer{
    background-color: #ff523b;
    color: #ffff;
}