* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}


/*----------------------Header Section---------------------*/

.navbar {
    display: flex;
    align-items: center;
    padding: 1px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

.cart {
    cursor: pointer;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background-color: #ff413b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #563434;
}

header {
    background: radial-gradient(#fff, #ffd6d6);
}
.menuBtn {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*-----------------------------Account Page----------------------*/

.accountPage {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.formContainer {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /*it hides the other form when the user selects either login or register*/
}

.formContainer span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.formBtn {
    display: inline-block;
}

.formContainer form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form label{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    /* border: 1px solid #ccc; */
}
form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#servicesForm {
    left: -300px;
}

#productsForm {
    left: 0;
}
form a {
    font-size: 12px;
}

#indicator {
    width: 100px;
    border: none;
    background-color: #ff523b;
    height: 3px;
    margin-top: 8 px;
}


/*------------------------------footer Section---------------------------*/

#meetUs {
    padding: 100px 0 20px;
    background-color: #efefef;
    position: relative;
}

.footerRow {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerLeft,
.footerRight {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footerRight {
    text-align: right;
}

.footerRow h1 {
    margin: 10px 0;
}

.footerRow p {
    line-height: 35px;
}

.footerLeft .far,
.footerRight .fas {
    font-size: 20px;
    color: #ff523b;
    margin: 10px;
}

.footerImg {
    max-width: 370px;
    /* opacity: 0.1; */
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.socialLinks {
    text-align: center;
}

.socialLinks .fab {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #ff523b;
    margin: 40px 5px 0;
    color: #ff523b;
    cursor: pointer;
    transition: 0.5s;
}

.socialLinks .fab:hover {
    background-color: #ff523b;
    color: #fff;
    transform: translateY(-7px);
}

.socialLinks p {
    font-size: 12px;
    margin-top: 20px;
}

.titleText {
    text-align: center;
    padding-bottom: 70px;
}

.titleText p {
    margin: auto;
    font-size: 20px;
    color: #ff523b;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.titleText p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#ff523b, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.titleText h1 {
    font-size: 50px;
}
/********************************************** FRONT END *****************************************/
.containerF{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.service-search{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.service-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */
.service-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.service-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.service-menu-img{
    width: 20%;
    float: left;
}

.service-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.service-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.service-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}



/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .service-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .service-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .service-menu{
        padding: 20% 0;
    }

    .service-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}
@media(max-width:768px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        /*hides the links until the menu icon is clicked*/
        transition: max-height 0.5s;
        /*it takes 0.5seconds to open and close the navigation bar*/
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menuBtn {
        display: block;
        cursor: pointer;
    }
    .titleText h1 {
        font-size: 35px;
    }
    .footerLeft,
    .footerRight {
        flex-basis: 100%;
        font-size: 14px;
    }
    .footerImg {
        top: 25%;
    }
}


@media(max-width:600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .singleProduct .row {
        text-align: left;
    }
    .singleProduct .col-2 {
        padding: 20px 0;
    }
    .singleProduct h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .cartInfo p {
        display: none;
    }
}